<%= form_for(@classbank) do |f| %>
  <div class="field">
    <%= f.label :name, 'Class Name' %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Add Classbank'%>
  </div>
<% end %>
