.site-background {
  background:image-url("coins-graph.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

/* .navbar {
  background-color: rgba(141, 186, 204, 0.9);
  border: 4px solid #8dbacc;
  height: 55px;
} */


.bank-account-wrapper{
  background-color: rgba(200, 163, 204, 0.8);
  padding: 3%;
  border: 4px solid #7D6484;
  border-radius: 20px;
  margin: 4% auto;
  position: relative;
}

.grid-container {
  display: grid;
  align-content: center;
}


.hidden{
  display:none;
}

.show{
  display:block;
}

.button{
  border: 4px solid #7D6484;
  border-radius: 20px;
  margin: 4% auto;
  background-color: #8dbacc;
}

label{
  font-size: 1.7em;
  color: #fffff;
}

.field-classbank{
  font-size: 1.8em;
}

.title{
  font-size: 2.5em;
}

.top-bar-section ul li > a{
  font-size: 1.5em;
}


strong > div{
    font-size: 1.5em;
    padding-left: 1.1em;
    padding-top:1.1em;
}
